<html>
<head>
<title></title>
</head>
<body class="about-container" >

<h1 class="heading">About-Us:</h1>
<p class="body-text">Our website, in partnership with India’s two leading insurers – ICICI Lombard and Digit Insurance – has launched instant digital COVID-19 insurance policies at affordable annual premiums. These plans offer you financial assistance to get the best supportive care in case you test positive for COVID-19.
    Our goal is to provide quality  of footwear  for our clients. </p>
<p class="body-text">Our website Product Returns Policy For Different Product Categories Returns is a facility
     provided by respective sellers directly under this policy in terms of which the option of
     replacement and/or refund is offered by the respective sellers to you. The returns policy brings in a lot of changes keeping in mind our loyal customer base.</p>
</body>
</html>
